@media only screen and (max-width: 700px) {
    svg { font-size: 2em !important; }
    .buttons-container { margin-right: .5rem !important; }
}

a {
    padding: .35rem .35rem .35rem .35rem !important;
}
